body {
  background: gray;
}

#toast {
  position: absolute;
  right: 20px;
  top: 20px;
  max-width: 600px;
  transition: all 2s;
  background: blue;
  color: white;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}
